<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- Brand Logo Light -->
  <a href="index.html" class="logo logo-light">
    <span class="logo-lg">
      <img src="assets/images/uwmh-white-logo.png" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/uwmh-white-logo-sm.png" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title">Navigation</li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarDashboards"
          aria-expanded="false"
          aria-controls="sidebarDashboards"
          class="side-nav-link"
        >
          <i class="uil-home-alt"></i>
          <span class="badge bg-success float-end">5</span>
          <span> Dashboards </span>
        </a>
        <div class="collapse" id="sidebarDashboards">
          <ul class="side-nav-second-level">
            <li>
              <a href="dashboard-analytics.html">Analytics</a>
            </li>
            <li>
              <a href="index.html">Ecommerce</a>
            </li>
            <li>
              <a href="dashboard-projects.html">Projects</a>
            </li>
            <li>
              <a href="dashboard-crm.html">CRM</a>
            </li>
            <li>
              <a href="dashboard-wallet.html">E-Wallet</a>
            </li>
          </ul>
        </div>
      </li>

      <!-- End Sidemenu -->
    </ul>
    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
<!-- ========== Left Sidebar End ========== -->
