---
layout: default
---

<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-9 d-flex flex-column gap-1">
          <h3 class="mt-0">{{ page.title }}</h3>
          {{ content }} {% include attribution.html %}
        </div>
        <div class="col-lg-3 text-center">
          <img src="assets/images/attica.png" />
          <p class="font-10">
            Attica (region). (2023, March 26).
            <a href="https://en.wikipedia.org/wiki/Attica_(region)"
              >In Wikipedia.</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
